@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 2;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0,5s;   
}

a:hover {
    color: #00a5cf;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover{
    transition: all 0,3s;
}

.shadow-on-hover:hover{
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

/* Nút đặt hàng online */
.btn {
    border-radius: 0;
    padding: 15px 40px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #00a5cf;
    background-color: #00a5cf;
}
.btn-brand:hover {
    border-color: #06aed8;
    background-color: #06aed8;
    color: #fff;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Phần slider */
.slide-1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/Cover1.jpg);
    background-size: cover;  
}  

.slide-2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover2.jpg);
    background-size: cover;  
} 

#Slider_trang_chủ h6::after,
#Slider_trang_chủ h6::before {
    content: " ";
    width: 30px;
    height: 2px;
    background-color: #ffff;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 50px;
    height: 70px;
    margin: auto;
}

/* Về chúng tôi */
#về_chúng_tôi .divider {
    width: 100px;
    height: 5px;
    display: block;
    background-color: #06aed8;
}

/* giới thiệu */
.intro-text {
    margin-bottom: 50px;
    text-align: center;
}

.intro-text p {
    max-width: 600px;
    margin: 20px auto 0 auto;
}

/* Thực đơn */
#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: #00a5cf;
    color: #ffffff;
}

.menu-item .stars{
    color: #00a5cf;
}

/* Tin nổi bật */
#features {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover4.jpg);
}

.feature{
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    background-color: #00a5cf;
    color: #fff;
    font-size: 30px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}

/* phản hồi */
#reviews {
    margin-top: 150px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover5.jpg);
}
.review img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.review .quote-icon {
    font-size: 75px;
    color: #00a5cf;
    line-height: 1;
}

.review .stars {
    color: #00a5cf;
}

#reviews .carousel-indicators {
    margin-bottom: -3rem;
}

/* đặt bàn */

#reservation .form-control{
    border-radius: 5;
}

#reservation .form-control:focus{
    box-shadow: none;
    border-color: #00a5cf;
}

#reservation input.form-control{
    height: 50px;
}

/* tin tức*/
.blog-post img{
    width: 50%;
    object-fit: cover;
}
@media (max-width:770px) {
    .blog-post {
        flex-direction: column;
    }
    .blog-post img {
        width: 100%;
    }
}

/* footer */
footer {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/cover6.jpg);
    padding-top: 100px;
    padding-bottom: 30px;   
}

.footer-top{
    margin-bottom: 30px;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);

}

footer .social-links a{
    font-weight: normal;
    font-size: 25px;
    margin-right: 20px;
}

footer img{
    max-width: 400px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

